extends layout

block content
  script(src='/javascripts/jquery.min.js')
  div.centered
   button#BubbleButton.button.centered.button-3d.button-caution.button-circle.button-jumbo(onclick = 'onButtonClick()') Engage


  script.
    function onButtonClick(){
    $.ajax({
        "url": "/sendMessage",
        "method": "POST"
      }); 
    }
  
